.loading-gradient-bar {
  background: linear-gradient(90deg, #60a5fa, #a78bfa, #f472b6, #60a5fa);
  background-size: 200% 100%;
}

@keyframes gradient-x {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.animate-gradient-x {
  animation: gradient-x 5s linear infinite;
}
