# MongoDB Configuration
MONGODB_CONNECTION_STRING=mongodb://localhost:27017
# For MongoDB Atlas (cloud), use format like:
# MONGODB_CONNECTION_STRING=mongodb+srv://username:password@cluster.mongodb.net/dbname?retryWrites=true&w=majority

# Azure OpenAI Configuration
OPENAI_API_KEY=xyz
AZURE_OPENAI_ENDPOINT=https://[your-azure-ai-hub].openai.azure.com/
AZURE_OPENAI_MODEL="gpt-4.1-mini"
OPENAI_API_VERSION="2025-01-01-preview"

# Application Configuration
PORT=8000